*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --font-family-primary: "Source Sans Pro", san-serif;
    --font-family-secondary: "Source Code Pro", monospace;

    --font-weight-regular: 300;
    --font-weight-bold: 900;

    /* dark shades of primary color*/
    --color-primary-1: hsl(205, 86%, 17%);
    --color-primary-2: hsl(205, 77%, 27%);
    --color-primary-3: hsl(205, 72%, 37%);
    --color-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --color-primary-5: hsl(205, 78%, 60%);
     /* lighter shades of primary color */
    --color-primary-6: hsl(205, 89%, 70%);
    --color-primary-7: hsl(205, 90%, 76%);
    --color-primary-8: hsl(205, 86%, 81%);
    --color-primary-9: hsl(205, 90%, 88%);
    --color-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --color-grey-1: hsl(209, 61%, 16%);
    --color-grey-2: hsl(211, 39%, 23%);
    --color-grey-3: hsl(209, 34%, 30%);
    --color-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --color-grey-5: hsl(210, 22%, 49%);
    --color-grey-6: hsl(209, 23%, 60%);
    --color-grey-7: hsl(211, 27%, 70%);
    --color-grey-8: hsl(210, 31%, 80%);
    --color-grey-9: hsl(212, 33%, 89%);
    --color-grey-10: hsl(206, 33%, 96%);
    --color-white: #fff;
    --color-red-dark: hsl(360, 67%, 44%);
    --color-red-light: hsl(360, 71%, 66%);
    --color-green-dark: hsl(125, 67%, 44%);
    --color-green-light: hsl(125, 71%, 66%);
    --color-black: #000000;
    --color-accent: #00c2cb;
    --color-light: #fff;

    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.25rem;
    --font-size-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
    --fixed-width: 800px;
    --radius: 0.5rem;
    --transition: all 0.3s linear;
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h1);
    line-height: 2;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--color-accent);
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--font-size-h4);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--font-weight-bold);
    transition: transform 200ms ease-in-out;
}


/* Typography */
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--font-size-h1);
}
h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}
h4 {
    font-size: var(--font-size-h4);
}

/* header */

header {
    padding: 1em;
    justify-content: space-between;
    margin: 0 auto;
    background: var(--color-light);
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: var(--bs);
}

.header {
  
    max-width: var(--fixed-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 100px;
    max-height: 40px;
    display: block;
    margin-right: 0.5em;
}

.site_logo {
    width: 40px;
    height: 40px;
    display: block;
    overflow: visible;
    border: 4px solid var(--color-accent);
    position: relative;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0;
}

.site_logo .logo_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.4s ease-in-out;
    font-weight: 700;
    font-size: 15px;
    color: var(--color-black);
}
.site_logo:hover {
    opacity: 1;
    transform: rotate(-90deg);
    transition: transform 0.4s ease-in-out;
}
.site_logo:hover .logo_text {
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: center;
}
.site_logo:hover #logo-stroke {
    transform: rotate(-90deg);
    transform-origin: center center;
    transition: transform 0.5s ease-in-out;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .title {
    text-align: center;
    margin-bottom: 4rem;
  }

  .container {
    width: 80vw;
    max-width: var(--fixed-width);
  }

  .review {
    background: var(--color-white);
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--bs);
    transition: var(--transition);
    text-align: center;
  }

  .img-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  #book_cover {
    height: 100%;
    object-fit: cover;  
    position: relative;
  }

  #author {
 
  }

  #date {
   
    text-transform: uppercase;
    color: var(--color-primary-5);
    font-size: 0.85rem;
  }
  #title {
   
    font-size: var(--font-size-h3);
  }

  #content {

    font-size: var(--font-size-h4);
  }

.prev_btn,
.next_btn {
  color: var(--color-accent);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev_btn:hover,
.next_btn:hover {
  color: var(--color-accent);
}

.button_container{
    height: 70px;
}